@font-face {
  font-family: 'FSEmericWeb-Light';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('https://www.metoffice.gov.uk/webfiles/1518105014136/fonts/FSEmericWeb-Light.woff') format('woff'), /* Pretty Modern Browsers */
}
